
* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота на весь экран */
}

main {
    flex: 1; /* Основной контент растягивается, чтобы занять оставшееся пространство */
}

header {
    display: flex;
    align-items: flex-end;
    /* В￼
       ыравнивает элементы по вертикали */
    background-color: #283150;
    color: white;
    padding: 5px 20px 25px 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /*width: calc(100% - 40px);*/
    /* background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7)); */
    z-index: 2;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.icons a:hover {

    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

.icons a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


.logo-container {
    display: flex;
    flex-direction: column; /* Картинка и текст друг под другом */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px;
}


.nav-and-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}


nav {
    display: flex;

    gap: 45px; /* Расстояние между ссылками */
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между полем ввода и кнопкой */
    width: 90%;
}

.search-container img {
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    padding: 5px 20px; /* Отступы внутри поля ввода */
    border: 2px solid #fd880b71; /* Граница поля ввода */
    border-radius: 25px; /* Скругление углов */
    font-size: 18px; /* Размер текста */
    width: 100%;
    background-color: #283150;
    color: azure;
    height: 27px;
}

.search-container input:focus {
    border-color: #FD880B;
    padding-left: 20px;
    outline: none;
}

.search-container input::placeholder {
    color: #f3eaea7a
}

.search-container button {
    padding: 5px 10px;
    border: none; /* Убираем границу */
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.search-container button:hover {
    background-color: #2980b9;
}

header .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    background-color: rgba(44, 62, 80, 0);
}

header nav {
    margin-top: 13px;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

header nav a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


footer {
    /*background-color: #28315077; !* Полупрозрачный фон *!*/
    color: white;
    text-align: center;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    /* background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7));  */
    
    margin-top: auto;
    flex-shrink: 0;
}


.footerInf {
    background-color: #28315077; /* Полупрозрачный фон */
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    padding: 20px;
}

footer h1 {
    font-size: 20px;
    padding-bottom: 20px;
}

footer a {
    font-size: 15px;
    padding-bottom: 15px;
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    color: #0d5042;
}

.forClients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutCompany {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.massage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.center {
    padding-left: calc(50% - 300px);
    padding-right: calc(50% - 300px);
}


/* Основные стили для выпадающего списка */
.custom-dropdown {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
}

.custom-dropdown_filt {
    grid-column: 1/2;
}

.custom-dropdown_sort {
    grid-column: 5;
}

.cleanFilt {
    grid-column: 2/3;
}

.cleanFilt button {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    border-radius: 25px;
    border: 2px solid #1f253d75;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff48;
    color: rgb(0, 0, 0);
    transition: 0.3s ease, transform 0.3s ease;
    padding: 9px 12px;
}

.cleanFilt button:hover {
    transform: translateY(-2px);
}

.cleanFilt button:active {
    transform: translateY(0);
}


.filt_all {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-column: 1/6;
}


.filt_all.open {
    display: grid; /* Показываем обёртку */
}


/* Заголовок выпадающего списка */
.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 9px 12px;
}

.filters img {
    padding-right: 10px;
}

.filters {
    width: 280px;
    border: 1px solid rgba(79, 128, 0, 0);
    border-radius: 30px;
    background-color: #14182c28;
    cursor: pointer;
    position: relative;
    color: rgb(0, 0, 0);
}


.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #1f253d75;

    border-radius: 15px;
    z-index: 1;

}

.arrow {
    transition: transform 0.3s ease;
}

.filters.active .dropdown-content {
    display: block;
/
}

.filters.active .arrow {
    transform: scaleY(-1);
}


/* Поля для ввода диапазона цен */
.price-range {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.price-range input {
    width: 50%;
    padding: 8px;
    border: 1px solid #1f253d75;
    border-radius: 20px;
    font-size: 14px;
}

.price-range input ::placeholder {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.sort {
    display: flex;

    justify-content: space-around;

}

.custom-dropdown_sort button {
    width: 100%;
    height: 100%;
    position: relative;
    border: 0px solid #1f253d75;
    border-radius: 13px;
    font-size: 15px;
    cursor: pointer;
    background-color: #ffffff48;
    color: rgb(0, 0, 0);
    transition: 0.3s ease, transform 0.3s ease;
    padding: 9px 0;
}

.custom-dropdown_sort button:hover {
    background: linear-gradient(135deg, #aeacaf3b, #5f647252);
    transform: translateY(-0.1px);
}

.custom-dropdown_sort button:active {
    transform: translateY(0);
}

.checkboxForFilters { /* ДЛЯ ЧЕКБОКСОВ ---------------------------------------------------------------------------------------------------*/
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 15px;
    align-items: center;

}


.checkboxForFilters input[type="checkbox"] {

    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.checkboxForFilters input[type="checkbox"]:hover {
    border-color: #226aa5;
    box-shadow: 0 0 8px rgba(13, 56, 92, 0.5);
}

.checkboxForFilters input[type="checkbox"]:checked {
    background-color: #3c96e0be;
    border-color: #266ba370;
}


/*---------------------- КАТАЛОГ--------*/

.magazine {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 40px 120px;
    grid-template-columns: repeat(4, 260px);

}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product a {
    display: flex;
    flex-direction: column;
    gap: 9px;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.product a:hover {
    color: #0d1258;
    transform: scale(1.05);
    transition: transform .5s;
}

.product a:active {
    color: #0d1258;
    transform: scale(0.95);
    transition: transform .5s;
}

.product p {
    font-size: 14px;
    color: #000000a2;
}

.product button {
    padding: 12px;
    margin-top: 10px;
    background: #192042af;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease, transform 0.3s ease;
}

.product button:hover {
    background: linear-gradient(135deg, #5616a0, #123081);
    transform: translateY(-2px);
}

.product button:active {
    transform: translateY(0);
}

.product img {    border-radius: 20px;
    height: 200px;
    width: 260px;
}

.product h2 {
    font-size: 20px;
}

.product h2, h3, p {
    padding-left: 10px;
}




  
 
  

  
  