* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%; 
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота на весь экран */
  }
main {
    flex: 1; /* Основной контент растягивается, чтобы занять оставшееся пространство */
  }

header {
    display: flex;
    align-items:flex-end ; /* В￼
    ыравнивает элементы по вертикали */
    background-color: #283150;
    color: white;
    padding: 5px 20px 25px 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

    /* background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7)); */
    z-index: 2; 
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.icons a:hover{

    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

.icons a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


.logo-container {
    display: flex;
    flex-direction: column; /* Картинка и текст друг под другом */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px; 
}



.nav-and-search {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    width: 100%;
}


nav {
    display: flex;
    
    gap: 45px; /* Расстояние между ссылками */
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между полем ввода и кнопкой */
    width: 90%;
}

.search-container img{
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    padding: 5px 20px; /* Отступы внутри поля ввода */
    border: 2px solid #fd880b71; /* Граница поля ввода */
    border-radius: 25px; /* Скругление углов */
    font-size: 18px; /* Размер текста */
    width: 100%;
    background-color: #283150;
    color: azure;
    height: 27px;
}
.search-container input:focus {
    border-color: #FD880B;
    padding-left: 20px;
    outline: none;
  }

  .search-container input::placeholder{
    color:#f3eaea7a
}

.search-container button {
    padding: 5px 10px; 
    border: none; /* Убираем границу */
    background-color: #3498db; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
}

.search-container button:hover {
    background-color: #2980b9; 
}

header .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    background-color: rgba(44, 62, 80, 0);
}

header nav {
    margin-top: 13px;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

header nav a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


footer {

    color: white;    
    text-align: center;

    width: 100%;
    /* background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7));  */
    margin-top: auto;
    flex-shrink: 0;
}


.footerInf {
    background-color: #28315077; /* Полупрозрачный фон */
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    padding: 20px ;
}

footer h1{
    font-size: 20px;
    padding-bottom: 20px;
}
footer a{
    font-size: 15px;
    padding-bottom: 15px;
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    color: #0d5042;
}
.forClients{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.aboutCompany{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
}

.catalog{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
}

.massage{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-end;
}



.center{
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}





.tab-pane{
    font-size:18px;
    margin-bottom: 5px;
    display: none;
     /*text-indent: 2em;*/
}


.tabs {
    padding-top: 30px;
}

/* Стили для кнопок вкладок */
.tab-buttons {
    display: flex;
    height: 60px;
    justify-content: space-between;

}

.tab-button {
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    border-bottom: 2px solid #6e6e6e;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 16px;
    transition: background 0.3s ease, color 0.3s ease;
}

.tab-button.active {
    background:    #192042af; 
    ;
    color: white;
}

.tab-button:hover {
    background: #f0f0f0;
}
.tab-content {
    padding: 20px;
    border-top: none;
}



.tab-pane.active {
    display: block;
}


.form_myAcc {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form_myAcc label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form_myAcc input {
    width: 500px;
    padding: 10px 20px;
    margin-top: 5px;
    border: 1px solid #cccccccc; 
    border-radius: 25px; 
    font-size: 20px;
    background: rgba(255, 255, 255, 0.651); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    
}

.form-group select{
    width: 542px;
    padding: 10px 20px;
    margin-top: 5px;
    border: 1px solid #cccccccc; 
    border-radius: 25px; 
    font-size: 20px;
    background: rgba(255, 255, 255, 0.651); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    appearance: none;

}

.form-group{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-items: start;
    align-items: center;
    gap: 10px;
    padding-top: 15px;


}

.form-group input:focus {
    border-color: #FD880B; 
    outline: none;
    box-shadow: 0 0 8px rgba(26, 188, 156, 0.5); 
}

.form-group label{
    padding-top: 15px;
    font-size: 23px;
    font-weight: 400;
}










.magazine{
    position: relative;
    display: grid
;
align-content: center;
justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    gap: 40px 120px;
    grid-template-columns: repeat(1, 1fr);

}

.product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    background: rgba(240, 240, 240, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.3);
}

.product a{
    display: flex
    ;
        flex-direction: row;
        gap: 50px;
        text-decoration: none;
        color: #000000;
        transition: color 0.3s ease;
}

.card{
    display: flex
    ;
        flex-direction: row;
        gap: 30px;
        text-decoration: none;
        color: #000000;
        
}

.product a:hover {
    color: #0d1258;
}

.product a:active {
    color: #0d1258;
    transform: scale(0.95);
    transition: transform .5s;
}

.product p{
    font-size: 20px;
    color: #000000a2;
}

.product h3{
    font-size: 25px;
}



.product button:hover {
    background: linear-gradient(135deg, #5616a0, #123081); 
    transform: translateY(-2px); 
}

.product button:active {
    transform: translateY(0);
}
.product img{
    height: 200px;
    width: 260px;
}

h3{
    font-size: 30px;
    padding: 25px 0;
}

.price{
    display: flex;
    flex-direction: row;
    align-content: center;
    gap:15px;
    align-items: center;
}

.price label{
    font-size: 35px;
    font-weight: 600;
}

.price  #korzina {
    padding: 10px;
    height: 45px;
    width: 200px;
    background: #192042af; 
    color: white; 
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer; 
    transition:  0.3s ease, transform 0.3s ease; 
}

.price  #korzina:hover {
    background: linear-gradient(135deg, #5616a0, #123081); 
    transform: translateY(-2px); 
}

.price  #korzina:active {
    transform: translateY(0);
}

.heart{
    padding: 8px;
    height: 45px;
    width: 45px;
    /* margin-top: 10px; */
    background: #192042af; 
    color: white; 
    border: none;
    border-radius: 50%; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer; 
    transition:  0.3s ease, transform 0.3s ease; 
}



.price img{
    height: 30px;
    width: 30px;
}
.name_and_price{
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.quantity-selector {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .quantity-selector button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #192042af;
    font-size: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
  
  .quantity-selector input {
    width: 45px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 600;
  }
  

  .column{
    display: flex;
    flex-direction: column;
  }


  
  #korzina {
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 45px;
    width: 200px;
    background: #192042af; 
    color: white; 
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer; 
    transition:  0.3s ease, transform 0.3s ease; 
}
#korzina:hover {
    background: linear-gradient(135deg, #5616a0, #123081); 
    transform: translateY(-2px); 
}

#korzina:active {
    transform: translateY(0);
}





.order-status {
    width: 200px; /* Фиксированная ширина */
    height: 50px; /* Фиксированная высота */
    display: flex; /* Для выравнивания содержимого */
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    /* border-radius: 4px; */
    font-size: 20px;
}


.status-value {
    padding: 8px 0px;
    border-radius: 25px;
    min-width: 200px;
    /* padding-left: 2em; */
    text-align: center;
}

.processing {
    background-color: #33ff00;
    color: #131007;
}

.forLogout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-top: 50px;*/
    /*margin-bottom: 20px;*/
    font-size: 30px;
}