<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/card.css">
    <title>Document</title>
</head>

   <body>
    <div class="wrapper">
    <header>
        <div class="logo-container">
            <img height="100px" src="../static/img/body/forLoginRegistration/germes.png" alt="">
        </div>

        <div class="nav-and-search">
            <nav>
                <a href="#catalog">КАТАЛОГ</a>
                <a href="#delevery">ПУНКТЫ ВЫДАЧИ</a>
                <a href="#garant">ГАРАНТИЯ</a>
                <a href="#shops">СРОКИ ПОСТАВКИ</a>
                <a href="#about_us">О НАС</a>
            </nav>
            <div class="search-container">
                <input type="text" placeholder="Поиск...">
            </div>
        </div>
        <div class="icons">
            <a href="#heart"><img height="30px" src="../static/img/header/heart.png"></a>
            <a href="#shopping"><img height="30px" src="../static/img/header/shopping-cart.png"></a>
            <a href="#user"> <img height="35px" src="../static/img/header/user.png"></a>
        </div>
    
    </header>
    <footer>
        <div class="clientFooterClass" id="clientFooter">
        <div class="footerInf">
            <div class="forClients">
                <h1 >Клиентам</h1>
                <a href="#delevery">ДОСТАВКА</a>
                <a href="#garant">ГАРАНТИЯ</a>
                <a href="#shops">МАГАЗИНЫ</a>
                <a href="#sroki">CРОКИ ИЗГОТОВЛЕНИЯ</a>
                <a href="#status">СТАТУС ЗАКАЗА</a>
            </div>
            <div class="aboutCompany">
                <h1 >О фабрике</h1>
                <a href="#about_us">О НАС</a>
                <a href="#pay">ПОЛИТИКА ОПЛАТЫ</a>
                <a href="#contacts">КОНТАКТЫ</a>
                <a href="#adress">АДРЕС ФАБРИКИ</a>
            </div>
            <div class="catalog">
                <h1 >Каталог</h1>
                <a href="#sofas">ДИВАНЫ</a>
                <a href="#stulya">СТУЛЬЯ</a>
                <a href="#kresla">КРЕСЛА</a>
            </div>
            <div class="massage">
                <h1>+7 (494) 270-65-01</h1>
                <img height="30px" src="../static/img/footer/whatsapp.png">
            </div>
        </div>
    </footer>

    <script src="scripts/catalog.js"></script>
    </body>
</html>