<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/style/card.css}">


    <title>Document</title>
</head>

<body>
<div class="wrapper ">
    <header>
        <div class="logo-container">
            <img height="100px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">

        </div>

        <div class="nav-and-search">
            <nav>
                <a th:href="@{/catalog}">КАТАЛОГ</a>
                <a href="#delevery">ДОСТАВКА</a>
                <a href="#garant">ГАРАНТИЯ</a>
                <a href="#shops">МАГАЗИНЫ</a>
                <a href="#about_us">О НАС</a>
            </nav>
            <div class="search-container">
                <input type="text" placeholder="Поиск...">
            </div>
        </div>
        <div class="icons">

            <a href="#heart"><img height="30px" th:src="@{/img/header/heart.png}"></a>
            <a href="#shopping"><img height="30px" th:src="@{/img/header/shopping-cart.png}"></a>
            <a href="#user"> <img height="35px" th:src="@{/img/header/user.png}"></a>

        </div>

    </header>

    <div class="cardForSofa center">


        <div class="gallery">
            <div class="gallery-images">
                <img class="active" th:each="url : ${urls}" th:src="${url}" alt="Image 1">

            </div>

            <button class="gallery-button prev-button">&lt;</button>
            <button class="gallery-button next-button">&gt;</button>
        </div>


        <div class="bodyPage">
            <label id="nameSofa" th:text="${name}">Диван "Лорд"</label>
            <div class="articul-rating">
                <div class="articul">
                    <label id="articul">Артикул:</label>
                    <label id="articul-nubmer" th:text="${article}">2340565</label>
                </div>

                <div class="review-rating">★★★★★</div>

            </div>
            <label id="character">Характеристики модели</label><br>
            <div class="form-container">
                <div class="aboutForSofa" th:each="map : ${map}">
                    <label th:text="${map.key}"></label>
                    <label th:text="${map.value}" class="inputs"></label>
                </div>

            </div>
        </div>

        <div class="price">
            <label id="price" th:text="${price}">53 500 руб.</label>
            <button id="korzina">Добавить в корзину</button>
            <button id="heart"><img height="30px" th:src="@{/img/header/heart.png}"></button>
        </div>

        <div class="tabs">
            <div class="tab-buttons">
                <button class="tab-button active" data-tab="tab1">ОПИСАНИЕ ТОВАРА</button>
                <button class="tab-button" data-tab="tab2">ГАРАНТИЯ</button>
                <button class="tab-button" data-tab="tab3">ДОСТАВКА</button>
                <button class="tab-button" data-tab="tab4">ПРАВИЛА УХОДА ЗА МЕБЕЛЬЮ</button>
            </div>

            <!-- Контент вкладок -->
            <div class="tab-content">
                <div id="tab1" class="tab-pane active" style="white-space: pre-line">
                    <span th:text="${description}"></span>
                </div>
                <div id="tab2" class="tab-pane">
                    <p>Гарантийное обсулживание производится при предъявлении гарантийного талона и документа о приобретении изделия. Гарантийное обслуживание включает в себя проведение ремонтных работ и замену дефектных частей изделия.<br>
                        Гарнатийный срок эксплуатации состовляет 18 меясцев со дня доставки мебели покупателю. Мебель надлежащего качества возврату и обмену не подлежит.<br>
                        В течении гарантийного срока все обнаруженные недостатки, возникшие по вине фабрики-изготовителя, устраняются бесплатно при наличии гарантийного талона.</p>
                </div>
                <div id="tab3" class="tab-pane">
                    <p>Доставка осуществляется по расценкам транспортной компании. Подъем мебели в квартиру и установка осуществляется за отдельную плату соотвественно прайсу транспортной компании.<br>
                        Занос мебели в помещение осуществляется при наличии свободного прохода (не менее 80 см), не препятствующего ее премещению к месту установки. В случае необходимости накрыть напольное покрытие, зеркала, обои и прочую мебель на пути заноса. В противном случае Продавец не несет ответсвенности за порчу имущества Покупателя. Продавец не несет отвественности за механические повреждения в случае самостоятельного заноса товара Покупателем в квартиру.
                    </p>
                    <p>Доставка товара осуществляется в течении не более 30 дней с момента оформления заказа.</p>
                    <p>В момент приемки товара при достаточном освещении обязательно осуществить проверку его количества и качества с целью обнаружения возможных дефектов.</p>
                </div>
                <div id="tab4" class="tab-pane">
                    <p>
                        Удаляйте пыль с поверхности один раз в неделю. Для устранения пятен и загрязнений необходимо протереть поверхность мягкой губкой или салфеткой, смоченной в воде с разбавленным моющим средством.<br>
                        Избегайте попадания прямых солнечных лучей на обивочную ткань мебели, тем самым вы предупреждаете преждевременное выцветание ткани и старение ППУ.
                    </p>
                </div>
            </div>
        </div>


        <div class="reviews">
            <h2>Отзывы</h2>
            <div class="average-rating">
                Рейтинг: <span id="averageRating">5</span>/5
            </div>

            <div class="reviews-list">
                <div class="review">
                    <div class="review-author">Иван Иванов</div>
                    <div class="review-rating">★★★★★</div>
                    <div class="review-text">Отличный продукт! Всё работает как надо.</div>
                    <div class="review-photo">
                        <img th:src="@{/img/body/forCatalog/sofa.jpg}" alt="Фотографии">
                    </div>
                    <div class="review-date">01.10.2023</div>
                </div>
                <div class="review">
                    <div class="review-author">Мария Петрова</div>
                    <div class="review-rating">★★★★★</div>
                    <div class="review-text">Очень довольна покупкой. Рекомендую!</div>
                    <div class="review-photo">
                        <img th:src="@{/img/body/forCatalog/sofa.jpg}" alt="Фотографии">
                        <img th:src="@{/img/body/forCatalog/sofa.jpg}" alt="Фотографии">
                    </div>
                    <div class="review-date">25.09.2023</div>
                </div>

            </div>

            <form class="review-form">
                <h3>Оставить отзыв</h3>
                <textarea id="review" placeholder="Ваш отзыв" required></textarea>
                <input type="file" id="photo" accept="image/*">
                <div class="rating">
                    <label>Оценка:</label>
                    <div class="stars">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div>
                    <input type="hidden" id="rating" name="rating" value="0" required>
                </div>
                <button type="submit">Отправить</button>
            </form>
        </div>

    </div>

    <footer>
        <div class="clientFooterClass" id="clientFooter">
            <div class="footerInf">
                <div class="forClients">
                    <h1>Клиентам</h1>
                    <a href="#delevery">ДОСТАВКА</a>
                    <a href="#garant">ГАРАНТИЯ</a>
                    <a href="#shops">МАГАЗИНЫ</a>
                    <a href="#sroki">CРОКИ ИЗГОТОВЛЕНИЯ</a>
                    <a href="#status">СТАТУС ЗАКАЗА</a>
                </div>
                <div class="aboutCompany">
                    <h1>О фабрике</h1>
                    <a href="#about_us">О НАС</a>
                    <a href="#pay">ПОЛИТИКА ОПЛАТЫ</a>
                    <a href="#contacts">КОНТАКТЫ</a>
                    <a href="#adress">АДРЕС ФАБРИКИ</a>
                </div>
                <div class="catalog">
                    <h1>Каталог</h1>
                    <a href="#sofas">ДИВАНЫ</a>
                    <a href="#stulya">СТУЛЬЯ</a>
                    <a href="#kresla">КРЕСЛА</a>
                </div>
                <div class="massage">
                    <h1>+7 (494) 270-65-01</h1>
                    <img height="30px" th:src="@{/img/footer/whatsapp.png}">
                </div>
            </div>
        </div>
    </footer>
</div>
    <script th:src="@{/scripts/card.js}"></script>
</body>
</html>