<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

   <body>
    <div class=" background_style">
    </div>
    <div class="t-cover__filter">
    </div>
    <header>
        <h1 >Мебельная фабрика "Гермес Плюс"</h1>
        <nav>
            <a href="#about">О нас</a>
            <a href="#services">Услуги</a>
            <a href="#portfolio">Портфолио</a>
            <a href="#contact">Контакты</a>
        </nav>
    </header>
       
    <div class = "grid">
        <div class = "bodyPage">
            
            <div class="form-container">
                <form>
                    <img height="150px" src="img/login/body/germes.png" alt="">
                    <label>Номер телефона:<br>
                        <input type="text" name="nuber_phone">
                    </label>
                    <label>Почта:<br>
                        <input type="text" name="mail">
                    </label>
                    <label>Пароль:<br>
                        <input type="text" name="password">
                    </label>
                    <label>Имя:<br>
                        <input type="text" name="name">
                    </label>
                    <label>Фамилия:<br>
                        <input type="text" name="surname">
                    </label>
                    <label>Дата рождения:<br>
                        <input type="date" name="birthday">
                    </label>
                    <label>Город:<br>
                        <input type="text" name="city">
                    </label>
                    <button>Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <h1 >Мебельная фабрика "Гермес Плюс"</h1>
    </footer>
    </body>
</html>