<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{style/myAccount.css}">


    <title>Document</title>
</head>

<body>
<div class="wrapper">
    <header>
        <div class="logo-container">
            <img height="100px" th:src="@{/img/body/forLoginRegistration/germes.png}" alt="">

        </div>

        <div class="nav-and-search">
            <nav>
                <a th:href="@{/catalog}">КАТАЛОГ</a>
                <a th:href="@{/delivery}">ДОСТАВКА</a>
                <a th:href="@{/account}">СТАТУС ЗАКАЗА</a>
                <a th:href="@{/magazine}">МАГАЗИНЫ</a>
                <a th:href="@{/fabric}">О НАС</a>
            </nav>
            <div class="search-container">
                <input type="text" placeholder="Поиск...">
            </div>
        </div>
        <div class="icons">
            <a th:href="@{/favorite}"><img height="30px" th:src="@{/img/header/heart.png}"></a>
            <a th:href="@{/korzina}"><img height="30px" th:src="@{/img/header/shopping-cart.png}"></a>
            <a th:href="@{/account}"> <img height="35px" th:src="@{/img/header/user.png}"></a>
        </div>

    </header>

    <h4 class="center">Личный кабинет</h4>
    <div id="form_myAcc" class="form_myAcc center">

        <form th:action="@{account/edit}" method="post">

            <div class="form-group">
                <label for="name">Имя:</label>
                <input th:value="${name}" type="text" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="recipient">Фамилия:</label>
                <input th:value="${surname}" type="text" id="recipient" name="surname" required>
            </div>

            <div class="form-group">
                <label for="phone">Телефон:</label>
                <input th:value="${phone}" type="tel" id="phone" name="phone" required>
            </div>


            <div class="form-group">
                <label for="elevator">Город:</label>
                <select th:value="${city}" id="elevator" name="city">
                    <option value="Ufa">Уфа</option>
                    <option value="Salavat">Салават</option>
                    <option value="Neftecamsk">Нефтекамск</option>
                    <option value="Sterlitamak">Стерлитамак</option>
                    <option value="Ishimbai">Ишимбай</option>
                </select>
            </div>
            <button class="center" id="korzina">Редактировать</button>
        </form>
    </div>


    <div class="tabs center">
        <div class="tab-buttons">
            <button class="tab-button active" data-tab="tab1">ТЕКУЩИЕ ЗАКАЗЫ</button>
            <button class="tab-button" data-tab="tab2">ЗАВЕРШЕННЫЕ</button>

        </div>

        <!-- Контент вкладок -->
        <div class="tab-content">
            <div id="tab1" class="tab-pane active">
                <div class="magazine center">
                    <div class="product">

                        <div class="card">
                            <img th:src="@{img/body/forCatalog/sofa.jpg}">
                            <div class="name_and_price">
                                <a href="card"><h2>Диван "Лорд"</h2></a>
                                <p>2400*1000</p>
                                <p>Артикул: 1242464</p>
                                <p>Количество: 1</p>
                                <h3>50.000 руб.</h3>
                            </div>
                        </div>
                        <div class="name_and_price">
                            <p>ЗАКАЗ №320448</p>
                            <p>Сроки изготовления: до<span> 20.04.2025</span></p>

                            <p>Cпособ получения: <span>самовывоз</span></p>
                        </div>

                        <div class="order-status">
                            <span class="status-value processing">В обработке</span>

                        </div>
                    </div>


                </div>
            </div>
            <div id="tab2" class="tab-pane">
                <div class="magazine center">
                    <div class="product">

                        <div class="card">
                            <img th:src="@{img/body/forCatalog/sofa.jpg}">
                            <div class="name_and_price">
                                <a href="card"><h2>Диван "Лорд"</h2></a>
                                <p>2400*1000</p>
                                <p>Артикул: 1242464</p>
                                <p>Количество: 1</p>
                                <h3>50.000 руб.</h3>
                            </div>
                        </div>
                        <div class="name_and_price">
                            <p>ЗАКАЗ №320448</p>
                            <p>Сроки изготовления: до<span> 20.04.2025</span></p>

                            <p>Cпособ получения: <span>самовывоз</span></p>
                        </div>

                        <div class="order-status">
                            <span class="status-value processing">Завершен</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<footer>
    <div class="clientFooterClass" id="clientFooter">
        <div class="footerInf">
            <div class="forClients">
                <h1>Клиентам</h1>
                <a href="#delevery">ДОСТАВКА</a>
                <a href="#garant">СТАТУС ЗАКАЗА</a>
                <a href="#shops">МАГАЗИНЫ</a>
                <a href="#sroki">CРОКИ ИЗГОТОВЛЕНИЯ</a>
                <a href="#status">СТАТУС ЗАКАЗА</a>
            </div>
            <div class="aboutCompany">
                <h1>О фабрике</h1>
                <a href="#about_us">О НАС</a>
                <a href="#pay">ПОЛИТИКА ОПЛАТЫ</a>
                <a href="#contacts">КОНТАКТЫ</a>
                <a href="#adress">АДРЕС ФАБРИКИ</a>
            </div>
            <div class="catalog">
                <h1>Каталог</h1>
                <a href="#sofas">ДИВАНЫ</a>
                <a href="#stulya">СТУЛЬЯ</a>
                <a href="#kresla">КРЕСЛА</a>
            </div>
            <div class="massage">
                <h1>+7 (494) 270-65-01</h1>
                <img height="30px" th:src="@{/img/footer/whatsapp.png}">
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/scripts/myAccount.js}"></script>
</body>
</html>