* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%; 
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота на весь экран */
  }
main {
    flex: 1; /* Основной контент растягивается, чтобы занять оставшееся пространство */
  }

header {
    display: flex;
    align-items:flex-end ; /* В￼
    ыравнивает элементы по вертикали */
    background-color: #283150;
    color: white;
    padding: 5px 20px 25px 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: calc(100% - 40px); 
    /* background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7)); */
    z-index: 2; 
}

.icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.icons a:hover{

    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

.icons a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


.logo-container {
    display: flex;
    flex-direction: column; /* Картинка и текст друг под другом */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px; 
}



.nav-and-search {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    width: 100%;
}


nav {
    display: flex;
    
    gap: 45px; /* Расстояние между ссылками */
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между полем ввода и кнопкой */
    width: 90%;
}

.search-container img{
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    padding: 5px 20px; /* Отступы внутри поля ввода */
    border: 2px solid #fd880b71; /* Граница поля ввода */
    border-radius: 25px; /* Скругление углов */
    font-size: 18px; /* Размер текста */
    width: 100%;
    background-color: #283150;
    color: azure;
    height: 27px;
}
.search-container input:focus {
    border-color: #FD880B;
    padding-left: 20px;
    outline: none;
  }

  .search-container input::placeholder{
    color:#f3eaea7a
}

.search-container button {
    padding: 5px 10px; 
    border: none; /* Убираем границу */
    background-color: #3498db; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
}

.search-container button:hover {
    background-color: #2980b9; 
}

header .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    background-color: rgba(44, 62, 80, 0);
}

header nav {
    margin-top: 13px;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #1abc9c;
    transform: scale(1.1);
    transition: transform .5s;
}

header nav a:active {
    color: #1abc9c;
    transform: scale(0.9);
    transition: transform .5s;
}


footer {
    background-color: #28315077; /* Полупрозрачный фон */
    color: white;    
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    width: 100%;
    /* background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7));  */
    height: 250px; 
    margin-top: auto;
    flex-shrink: 0;
}


.footerInf {
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    padding: 20px ;
}

footer h1{
    font-size: 20px;
    padding-bottom: 20px;
}
footer a{
    font-size: 15px;
    padding-bottom: 15px;
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    color: #0d5042;
}
.forClients{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.aboutCompany{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
}

.catalog{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
}

.massage{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-end;
}



.center{
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
}











        /* body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
        } */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.map-container {
    height: 400px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.section {
     margin-bottom: 30px;
}
.working-hours {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.working-day {
    flex: 1;
    min-width: 200px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
}
        .day-name {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .coordinates {
            display: none; /* Скрыто, но доступно для JS */
        }
    