* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column; 
    background-image: url(https://optim.tildacdn.com/tild3138-6365-4161-b337-663733303134/-/format/webp/IMG_6070.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh; 
}

.t-cover__filter {
    background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7));
    position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    
    z-index: -1;
}

.grid {
    display: grid;
    justify-content: end;

    grid-template-columns: minmax(400px, 1fr) auto;
    align-items: center;
    
}

.germes{
    color: white;
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.germes h1{
    font-size: 50px;
}

.germes h2{
    font-size: 30px;
}

.bodyPage {
    /* background-color: rgba(53, 53, 59, 0.404); */
    
    
    margin: 0 auto; 
    padding: 20px 80px; 
    box-sizing: border-box; 
    position: relative; 
    min-height: calc(100vh - 140px);
    z-index: 1;
    backdrop-filter: blur(2px); 


    display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
}




.form-container {
    padding: 50px 80px;
    /* padding-left: 150px;
    padding-right: 150px; */
    display: flex;
    
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; 
    flex-direction: column;
    border-radius: 60px;
    background-color:  rgba(53, 53, 59, 0.404);
    border: solid 2px #fd880b71;
}


form {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; 
    width: 100%; */
    gap: 10px; 
  
}


form img {
    margin: 0 auto; 
    display: block;
}


form label {
    font-size: 25px;
    color: white; 
    font-weight: 500;
}

.redistr{
    
    display: flex;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; 
    margin-bottom: 20px;
    width: 100%;
    flex-direction: column;
}

.redistr label{
    font-size: 40px;
    color: white;
    font-weight: 600;
}


form input {
    height: 20px;
    width: 400px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccccc; 
    padding-left: 10px;
    border-radius: 25px; 
    font-size: 20px;
    background: rgba(255, 255, 255, 0.651); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    
}


form input:focus {
    border-color: #FD880B; 
    outline: none;
    box-shadow: 0 0 8px rgba(26, 188, 156, 0.5); 
}


form button {
    padding: 12px;
    margin-top: 10px;
    background: #2ab89bb9; 
    color: white; 
    border: none;
    border-radius: 25px; 
    font-size: 20px;
    font-weight: 600;
    cursor: pointer; 
    transition: background 0.3s ease, transform 0.3s ease; 
}

form input::placeholder{
    color:#0000007a;
    padding-left: 10px;
}


form button:hover {
    background: linear-gradient(135deg, #16a085, #1abc9c); 
    transform: translateY(-2px); 
}


form button:active {
    transform: translateY(0);
}

.hidden {
    display: none;
  }




header {
    display: flex;
    align-items: center; /* Выравнивает элементы по вертикали */
    background-color: rgba(44, 62, 80, 0); 
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); 
    background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7));
    z-index: 2; 
}

.logo-container {
    display: flex;
    flex-direction: column; /* Картинка и текст друг под другом */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px; /* Расстояние между картинкой и текстом */
}



.nav-and-search {
    display: flex;
    flex-direction: column; /* Нав меню и строка поиска друг под другом */
    align-items: center; /* Центрирование по горизонтали */
    gap: 10px; /* Расстояние между нав меню и строкой поиска */
    width: 100%;
}


nav {
    display: flex;
    
    gap: 50px; /* Расстояние между ссылками */
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между полем ввода и кнопкой */
    width: 90%;
}

.search-container img{
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    padding: 5px 20px; /* Отступы внутри поля ввода */
    border: 2px solid #fd880b71; /* Граница поля ввода */
    border-radius: 25px; /* Скругление углов */
    font-size: 18px; /* Размер текста */
    width: 100%;
    background-color: rgba(9, 47, 51, 0.8);
    color: azure;
    height: 27px;
}
.search-container input:focus {
    border: #FD880B;
    padding-left: 20px;
  }

  .search-container input::placeholder{
    /* padding-left: 10px; */
    color:#f3eaea7a
}

.search-container button {
    padding: 5px 10px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    background-color: #3498db; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border-radius: 5px; /* Скругление углов */
    cursor: pointer; /* Курсор в виде указателя */
    font-size: 14px; /* Размер текста */
}

.search-container button:hover {
    background-color: #2980b9; /* Цвет фона кнопки при наведении */
}

header .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    background-color: rgba(44, 62, 80, 0);
}

header nav {
    margin-top: 13px;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #1abc9c;
}

footer {
    background-color: rgba(44, 62, 80, 0); /* Полупрозрачный фон */
    color: white;
    
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    background-image: -webkit-linear-gradient(top, rgba(9, 47, 51, 0.8), rgba(8, 29, 31, 0.7)); 
    height: 250px; 

    margin-top: auto; 
    flex-shrink: 0; 
}







/* Контейнер для переключателя */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 100%; /* Ширина переключателя */
    height: 40px; /* Высота переключателя */
    
  }
  
  /* Скрываем стандартный чекбокс */
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Стили для ползунка */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc8e; /* Фон по умолчанию */
    border-radius: 25px; /* Закругленные углы */
    transition: background-color 0.3s ease;
  }
  
  /* бегунок */
  .slider::before {
    content: "";
    position: absolute;
    height: 34px;
    width: 50%;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background-color: rgba(255, 255, 255, 0.637);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    
    
  }
 


  .text {
    padding-left: 15%;
    padding-right: 15%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .no {
    left: 10px; /* Позиция текста "NO" */
  }
  
  .yes {
    right: 10px; /* Позиция текста "YES" */
    opacity: 1; /* Скрываем "YES" по умолчанию */
  }
  
  /* Анимация при включении */
  input:checked + .slider {
    background-color: #cccccc8e; /* Зеленый фон при активации */
  }
  
  input:checked + .slider::before {
    transform: translateX(100%); /* Ползунок сдвигается до конца */
    margin-left: -6px; /* Сдвигаем бегунок вправо */
  }
  
  input:checked + .slider .no {
    opacity: 1; /* Скрываем "NO" */
  }
  
  input:checked + .slider .yes {
    opacity: 1; /* Показываем "YES" */
  }



.footerInf {
    display: grid;
    grid-template-columns: 20% 20% 20% auto;
    padding: 20px ;
}

footer h1{
    font-size: 20px;
    padding-bottom: 20px;
}
footer a{
    font-size: 15px;
    padding-bottom: 15px;
    color: antiquewhite;
    transition: color 0.3s ease;
    text-decoration: none;
}

footer a:hover {
    color: #1abc9c;
}
.forClients{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.aboutCompany{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
}

.catalog{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
}

.massage{
    display: flex
    ;
        flex-direction: column;
        align-items: flex-end;
}